{% extends 'user/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
BootUp - Home
{% endblock %}

{% block content %}
<p class="lead text-center">“Sentiment without action is the ruin of the soul.”</p>
<div class="text-center">
    <form method="POST" class="mt-4">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Calculate Sentiment"><br>
    </form>
    {% if result %}

    {% if result == 'Negative' %}
    <div class="alert alert-danger" role="alert">
        The sentiment of the statement is <b>{{result}}</b>.
    </div>
    {% elif result == 'Neutral' %}
    <div class="alert alert-primary" role="alert">
        The sentiment of the statement is <b>{{result}}</b>.
    </div>
    {% elif result == 'Positive' %}
    <div class="alert alert-success" role="alert">
        The sentiment of the statement is <b>{{result}}</b>.
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <div class="mt-4" style="height: 100%; width: 100%; text-align: center;">
                <canvas id="myChart" style="display: inline; padding: 20px;"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['Negative', 'Neutral', 'Positive'],
                            datasets: [{
                                label: 'Sentiment Score',
                                data: [{{negative_val}}, {{neutral_val}}, {{positive_val}}],
                                backgroundColor: [
                                    'rgba(226, 13, 13, 0.5)',
                                    'rgba(50, 195, 241, 0.5)',
                                    'rgba(59, 241, 89, 0.5)',
                                ],
                                borderColor: [
                                    'rgba(226, 13, 13, 1)',
                                    'rgba(50, 195, 241, 1)',
                                    'rgba(59, 241, 89, 1)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        
                    });
                </script>
            </div>
        
            
        </div>
        <div class="col">
            <div class="mt-4" style="height: 100%; width: 100%; text-align: center;">
                <canvas id="myChart2" style="display: inline; padding: 20px;"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                <script>
                    var ctx = document.getElementById('myChart2').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['Empty', 'Sadness', 'Enthusiasm', 'Neutral', 'Worry', 'Surprise', 'Love', 'Fun', 'Hate', 'Happiness', 'Boredom', 'Relief', 'Anger'],
                            datasets: [{
                                label: 'Sentiment Score',
                                data: [{{empty_val}},
                                        {{sadness_val}},
                                        {{enthusiasm_val}},
                                        {{neutral_val1}},
                                        {{worry_val}},
                                        {{surprise_val}},
                                        {{love_val}},
                                        {{fun_val}},
                                        {{hate_val}},
                                        {{happiness_val}},
                                        {{boredom_val}},
                                        {{relief_val}},
                                        {{anger_val}}],
                                backgroundColor: [
                                    'rgba(0, 0, 0, 0.5)',
                                    'rgba(0, 142, 248, 0.5)',
                                    'rgba(245, 178, 123, 0.5)',
                                    'rgba(237, 236, 236, 0.5)',
                                    'rgba(216, 74, 9, 0.5)',
                                    'rgba(1, 155, 189, 0.5)',
                                    'rgba(213, 0, 0, 0.5)',
                                    'rgba(255, 208, 0, 0.5)',
                                    'rgba(120, 0, 160, 0.5)',
                                    'rgba(9, 143, 69, 0.5)',
                                    'rgba(128, 124, 124, 0.5)',
                                    'rgba(133, 221, 233, 0.5)',
                                    'rgba(245, 94, 16, 0.5)',
                                ],
                                borderColor: [
                                    'rgba(0, 0, 0, 1)',
                                    'rgba(0, 142, 248, 1)',
                                    'rgba(245, 178, 123, 1)',
                                    'rgba(237, 236, 236, 1)',
                                    'rgba(216, 74, 9, 1)',
                                    'rgba(1, 155, 189, 1)',
                                    'rgba(213, 0, 0, 1)',
                                    'rgba(255, 208, 0, 1)',
                                    'rgba(120, 0, 160, 1)',
                                    'rgba(9, 143, 69, 1)',
                                    'rgba(128, 124, 124, 1)',
                                    'rgba(133, 221, 233, 1)',
                                    'rgba(245, 94, 16, 1)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        
                    });
                </script>
            </div>
            {% endif %}
        </div>
        </div>
    </div>

    



{% endblock %}

<!-- TODO: Do something for emotions. -->