{% extends 'user/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
BootUp - Login
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <img src="{% static 'user/img/login.svg' %}" alt="login_img" style="height: auto; width: 100%;">
    </div>
    <div class="col-4">
        <h1>Login</h1>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Login"><br>
        <small>Don't have an account? <a href="{% url 'register' %}">Register</a></small>
    </form>
    </div>
</div>
{% endblock %}