{% extends 'user/base.html' %}

{% block title %}
BootUp - Team
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-question" aria-hidden="true"></i> FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-space-shuttle" aria-hidden="true"></i> How we do it?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-file" aria-hidden="true"></i> Docs</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-id-badge" aria-hidden="true"></i> Team</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">BootUp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<h1>Team</h1>
<div class="mt-4">
    <ul>
        <li>Karan Wagh</li>
        <li>Dipak Patil</li>
        <li>Tejashree Salvi</li>
        <li>Kaif Tamboli</li>
        <li>Sakshi Chaudhari</li>
        <li>Pratik Temkar</li>
    </ul>
</div>
{% endblock %}